@font-face
{
    font-family: 'Nabla';
    src: url("../fonts/Tiny5-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal
}

body
{
    background-color: #142641;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Nabla';
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: inherit;
}

header 
{
    background-color: #142641;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    border-bottom: 5px solid #ffd883;
}

.headerIcon
{
    height: 90%;
    width: auto;
    object-fit: contain;
    transition-duration: 0.2s;
}
.headerIcon:hover {
    scale: 1.2;
    transition-duration: 0.2s;
}

.headerRight
{
    display: flex;
    margin-left: auto;
    text-align: right;
    gap: 2em;
    font-size: 19px;
}

.headerRight a {
    color: #ffd883;
    transition-duration: 0.2s;
    cursor: pointer;
}

.headerRight a:hover {
    scale: 1.2;
    transition-duration: 0.2s;
}

.mainBody
{
    /* background: cornflowerblue; */
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.mainBody p {
    color: #ffd883;
    font-size: 20px;
}

.headerbg {
    background: linear-gradient(0deg, #142641, #142641, #6494ed0e), url("../assets/images/bg_temp.png");
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 85%;
    position: absolute;
    top: 0;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.title
{
    color: #ffd883;
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
}

.title h1
{
    font-size: 128px;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.title h2 {
    font-size: 64px;
    margin-top: -100px;
    margin-bottom: 30px;
}

.titleImg
{
    width: 80%;
    padding: 1rem;
}

.textDescript
{
    text-align: center;
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.videoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.videoSection video, 
.videoSection .videoImage {
    flex: 1;
    width: 45%;
    height: auto;
    border-radius: 8px;
}

.supportTiers
{
    text-align: center;
    padding: 20px;
}

.supportTiersImg
{
    width: 80%;
    padding: 1rem;
}

footer
{
    background-color: #142641;
    border-top: 5px solid #ffd883;
    height: 4rem;
    padding: 1rem;
    color: #ffd883;
    text-align: center;
}

#copyright {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: -2px;
}

/* Tablets */
@media screen and (max-width: 1024px) {
    
}

/* Móviles */
@media screen and (max-width: 768px) {
    
}